html {

    scroll-behavior: smooth;

    /*Color Palette*/
    --black: #000000ff;
    --oxford-blue: #14213dff;
    --orange-web: #fca311ff;
    --platinum: #e5e5e5ff;
    --white: #ffffffff;
}

body {
    background-color: #121212;
    margin: 0;
    padding: 0;
    font-family: 'Source Code Pro', sans-serif;
    height: 100vh;
    scroll-behavior: smooth;
    display: -ms-grid;
    display: grid;
}


body::-webkit-scrollbar {
    width: 1rem;
}

body::-webkit-scrollbar-track{
    background: var(--black);

}

body::-webkit-scrollbar-thumb{
    background: var(--oxford-blue);
}

h1, h2, h3 {
    color: var(--platinum);
    font-family: 'Source Code Pro', sans-serif;
}

p {
    color: var(--white);
    font-family: 'Montserrat', sans-serif;
    font-size: 1.3rem;
}

h1 {
    margin-top: 2em;
    font-size: 4rem;
}


.navbar {
    margin: 0;
    position: fixed;
    background-color: var(--orange-web);
    top: 0;
    overflow: hidden;
    width: 100vw;
}

.navbar a {
    float: left;
    text-decoration: none;
    color: var(--white);
    font-size: 1.35rem;
    padding: 0.5em 1em;
    text-align: center;
    font-weight: bold;
    transition: 0.2s;
    font-family: 'Montserrat', sans-serif;

}

/* Naviagation */
.navbar a:hover {  
    background-color: var(--oxford-blue); 
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.navbar .navbar-hamburger {
    display: none;
}

@media screen and (max-width: 1000px) {
   .navbar a:not(:first-child) {display: none;}
   .navbar a.navbar-hamburger {
        display:block;
        float: right;
    }
}


.navbar.responsive {
    position: relative;
    .navbar-hamburger {
        display: block;
        float: right;
        position: absolute;
        right : 0;
        top: 0;
    }

    .navbar.responsive a {
        float: right;
        display: block;
        text-align: left;
    }
}

@media screen and (max-width: 1000px) {
    .navbar.responsive {position: relative;}
    .navbar.responsive .navbar-hamburger {
        position:absolute;
        right: 0;
        top: 0;
    }
        
    .navbar.responsive a {
        float: none;
        display: block;
        text-align: left;
      }
}

.home-background {
    position:fixed;
    background: #121212; 
    background: -webkit-linear-gradient(to left, #8f94fb, #4e54c8);  
    width: 100vw;
    height:100vh;
    z-index: -1;
}

.circles{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.circles li{
    position: absolute;
    display: block;
    list-style: none;
    width: 20px;
    height: 20px;
    background: rgba(255, 255, 255, 0.2);
    animation: animate 25s linear infinite;
    bottom: -150px;
    
}

.circles li:nth-child(1){
    left: 25%;
    width: 80px;
    height: 80px;
    animation-delay: 0s;
}


.circles li:nth-child(2){
    left: 10%;
    width: 20px;
    height: 20px;
    animation-delay: 2s;
    animation-duration: 12s;
}

.circles li:nth-child(3){
    left: 70%;
    width: 20px;
    height: 20px;
    animation-delay: 4s;
}

.circles li:nth-child(4){
    left: 40%;
    width: 60px;
    height: 60px;
    animation-delay: 0s;
    animation-duration: 18s;
}

.circles li:nth-child(5){
    left: 65%;
    width: 20px;
    height: 20px;
    animation-delay: 0s;
}

.circles li:nth-child(6){
    left: 75%;
    width: 110px;
    height: 110px;
    animation-delay: 3s;
}

.circles li:nth-child(7){
    left: 35%;
    width: 150px;
    height: 150px;
    animation-delay: 7s;
}

.circles li:nth-child(8){
    left: 50%;
    width: 25px;
    height: 25px;
    animation-delay: 15s;
    animation-duration: 45s;
}

.circles li:nth-child(9){
    left: 20%;
    width: 15px;
    height: 15px;
    animation-delay: 2s;
    animation-duration: 35s;
}

.circles li:nth-child(10){
    left: 85%;
    width: 150px;
    height: 150px;
    animation-delay: 0s;
    animation-duration: 11s;
}

@keyframes animate {

    0%{
        transform: translateY(0) rotate(0deg);
        opacity: 1;
        border-radius: 0;
    }

    100%{
        transform: translateY(-1000px) rotate(720deg);
        opacity: 0;
        border-radius: 50%;
    }

}

.container {
    text-align: left;
    margin-top: 5em;
    margin: 5rem 2rem;
    min-height: 100vh;
}

.home .container {
    width: 60vw;
}


/*About*/
.skill-box {
    display: flex;
    flex-direction: row;
}

@media(max-width: 800px) {
    .skill-box{
        flex-direction: column;
    }
}

  
.skill-content {
    display: flexbox;
    margin-right: 0%;
    padding-right: 0%;
    padding-right: 0%;
    margin-right: 0%;
    overflow: auto;
  }
  
.skill-sphere {
    display: flexbox;
    min-width: 500;
   // color: #121212;
    padding: 0%;
    margin-top: -10%;
    margin-left: -8%;
}


.tab {
    float: left;
    background-color: var(--oxford-blue);
    // border: 1px solid var(--orange-web);
    // width: 30%;
    height: 300px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    button {
        display: block;
        background-color: var(--oxford-blue);
        color: var(--platinum);
        padding: 2em 1em;
        border: none;
        outline: none;
        text-align: left;
        cursor: pointer;
        transition: 0.3s;
    }
}

.tab button:hover {
    background-color: var(--orange-web);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}